<!DOCTYPE html>
{% load static %}
{% load cart_tag %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}"/>
    <title>Cart</title>
</head>
<body>
  <div class="topnav">
    {% for navbar_item in navbar_items %}
            {% if navbar_item.title == "Logout" and request.user.is_authenticated %}
            <a href="{% url navbar_item.path_name %}">{{navbar_item.title}}</a>
            {% elif navbar_item.title != "Logout" %}
            <a href="{% url navbar_item.path_name %}">{{ navbar_item.title }}</a>
            {% endif %}
    {% endfor %}
  </div>
      <section id="cart">
      <h1>This is your cart! <br>
          Click on purchase now to finish your order. 
      </h1>
      <p>        
        Cart Detail:
      </p>
        <br>
        <div class="cart">
        {% if request.session.cart.items %}
        {% for key,value in request.session.cart.items %}
        <table>
          <tr>
          <td>Product</td>
          <td>Quantity</td>
          <td>Price</td>
          <td>Total</td>
          </tr>

          <tr>
            <td> {{value.name}} </td>
            <td> {{value.quantity}} 
              <a href="{% url 'item_increment' value.product_id %}">Increment</a>
              <a href="{% url 'item_decrement' value.product_id %}">Decrement</a>
            </td>
            <td> {{value.price}} </td>
            <td> {{ value.price|multiply:value.quantity }}</td>
            <br>
            {% endfor %}
          </tr>
        </table>
        {% endif %}
        <br>
        <div class="clear-cart">
        <a href="{% url 'cart_clear' %}">Clear Cart</a>
        </div>
        <br>
        {% if request.session.cart.items %}
        <h2 style="color: white;"> 
          TOTAL TO PAY: {{cart_sum}} EUR
        </h2>
          <div class="pay-cart">
            <a href="">PURCHASE NOW</a>
          </div>
        {% endif %}
        </div>
      </section>
</body>
</html>