{% extends "includes/base.html" %}
{% block title %}Login Page {% endblock %}
<body>
    {% block content %}
    <h2>Enter your account details and login!</h2>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" />
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Login</button>
    </form>
    <p style="text-align: center;">Don't have an account? <a href="/register/">Create an account</a></p>
    {% endblock %}
</body>
</html>