<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}"/>
    <title>Login Page</title>
</head>
<body>
    <div class="topnav">
        {% for navbar_item in navbar_items %}
        {% if navbar_item.path_name %}
        <a href="{% url navbar_item.path_name %}">{{ navbar_item.title }}</a>
        {% endif %}
        {% endfor %}
    </div>
    <h2>Enter your account details and login!</h2>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" />
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Login</button>
    </form>
    <p style="text-align: center;">Don't have an account? <a href="/register/">Create an account</a></p>
</body>
</html>