<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}"/>
    <title>Register</title>
</head>
<body>
  <div class="topnav">
    {% for navbar_item in navbar_items %}
    {% if navbar_item.path_name %}
    <a href="{% url navbar_item.path_name %}">{{ navbar_item.title }}</a>
    {% endif %}
    {% endfor %}
  </div>
  <div class="register">
    <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
    <p>
      {{ field.label_tag }}<br>
      {{ field }}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
      {% endfor %}
    <button type="submit">Sign up</button>
  </form>
</div>
</body>
</html>