{% extends "librarystore_app/base.html" %}
{% load cart_tag %}
{% block title %}Register{% endblock %}
<body>
  {% block content %}
  <div class="register">
    <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
    <p>
      {{ field.label_tag }}<br>
      {{ field }}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
      {% endfor %}
    <button type="submit">Sign up</button>
  </form>
  </div>
  {% endblock %}
</body>
</html>