h1 {

    text-align: center;
    color:black;
}

html {
  background: url("../images/background.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home ul {
    display: table;
    margin: 0 auto;
}

.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  body {
    text-align: center;
    color:black;
  }

  #top-books {
    background-color: lightgray;
    padding: 1rem;
    border-radius: 12px;
    width: 80%;
    margin: 1rem auto 1rem auto;
    box-shadow: 2px 2px 20px black;
    text-align: justify;
    position: relative;
  }
  
  #top-books ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    gap: 1rem;
  }
  
  #top-books li {
    flex: 1;
  }

  #top-books table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #top-books td, th {
    border: 1px solid darkslategrey;
    text-align: left;
    padding: 8px;
  }
  
  #all-books {
    background-color: darkgrey;
    padding: 1rem;
    border-radius: 20px;
    width: 80%;
    margin: 1rem auto 1rem auto;
    box-shadow: 5px 5px 20px black;
    text-align: justify;
    position: relative;
  }

  #all-books table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-color: black;
    border-style: groove;
  }

  #all-books td, th {
    border: 2px solid black;
    text-align: center;
    padding: 8px;
  }

  #all-books img {
    width: 120px;
    height: 200px;
  }

  #all-books h2, h3 {
    text-align: center;
    color: darkred;
  }

  .wrapper {
    text-align: center;
  }

  .button {
    background-color: darkred;
    border: 1rem;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .pagination {
    display: inline-block;
  }

  .pagination a {
    color: black;
    float: center;
    padding: 8px 16px;
    text-decoration: none;
  }

  .cart table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-color: black;
    border-style: groove;
  }

  .cart td, tr {
    border: 2px solid black;
    text-align: center;
    padding: 8px;
  }

  .wrapper {
    font: bold 14px Arial;
    text-decoration: none;
    background-color: gray;
    color: #333333;
    padding: 4px 8px 4px 8px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
  }

  .register {
    color: black;
  }

  .register ul {
    display: table;
    margin: 0 auto;
  }

  .clear-cart {
    background-color: whitesmoke;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  .pay-cart {
    background-color: whitesmoke;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }