<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/images/icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}">
    {% block head %} {% endblock %}
    <title>{% block title %}My Great Library {% endblock %}</title>
</head>
<body>
    <div class="topnav">
        {% for navbar_item in navbar_items %}
        {% if navbar_item.title == "Logout" and request.user.is_authenticated %}
        <a href="{% url navbar_item.path_name %}" class="fa fa-sign-out">{{navbar_item.title}}</a>
        {% elif navbar_item.title == "Login" and request.user.is_authenticated %}
        <a href="{% url 'dashboard' %}" class="fa fa-user"> My Profile</a>
        {% elif navbar_item.title == "Register" and request.user.is_authenticated %}
        {% elif navbar_item.title == "Cart" %}
        <a href="{% url navbar_item.path_name %}" class="fa fa-shopping-cart"> Cart</a>
        {% elif navbar_item.title == "Books" %}
        <a href="{% url navbar_item.path_name %}" class="fa fa-book"> Books</a>
        {% elif navbar_item.title == "Home" %}
        <a href="{% url navbar_item.path_name %}" class="fa fa-home"> Home</a>
        {% elif navbar_item.title == "Register" %}
        <a href="{% url navbar_item.path_name %}" class="fa fa-user"> Register</a>
        {% elif navbar_item.title != "Logout" %}
        <a href="{% url navbar_item.path_name %}" class="fa fa-user">{{ navbar_item.title }}</a>

        {% endif %}
        {% endfor %}
      </div>
        {% block content %}
        {% endblock %}
</body>
</html>