{% extends 'includes/base.html' %}

{% load static %}

{% block head %} 
<!-- Bootstrap4 files-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="{% static 'css/cart/ui.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/cart/cart_style.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block title %} Change Password{% endblock %}

{% block content %}

<section class="section-conten padding-y bg">

	<div class="container">
		<div class="row">
		{% include 'includes/dashboard_sidebar.html' %}
		<main class="col-md-9">
			<article class="card">
			<header class="card-header">
				<strong class="d-inline-block mr-3">Change Your Password</strong>
	
			</header>
			<div class="card-body">
				<div class="row">
				<div class="col-md-12">
					<form action="{% url 'change_password' %}" method="POST">
						{% csrf_token %}
	
						<div class="form-group">
							<label>Current Password</label>
							<input type="password" name="current_password" placeholder="Current Password" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Create new password</label>
							<input type="password" name="new_password" placeholder="Create New Password" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Confirm new password</label>
							<input type="password" name="confirm_password" placeholder="Confirm New Password" class="form-control" required>
						</div>
	
						<input type="submit" value="Submit" class="btn btn-primary">
					</form>
					{% if messages %}
					<ul class="messages">
						{% for message in messages %}
						<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
						{% endfor %}
					</ul>
					{% endif %}
				</div>
	
				</div> <!-- row.// -->
			</div> <!-- card-body .// -->
	
			</article> <!-- order-group.// -->
		</main>
	</div> <!-- row.// -->
	</div>
	
</section>

{% endblock %}